[submodule "themes/typo"]
	path = themes/typo
	url = https://github.com/tomfran/typo.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/HugoTeX"]
	path = themes/HugoTeX
	url = https://github.com/kaisugi/HugoTeX
